PORT=3000

# Database
DATABASE_URL=postgresql://ae_user:StrongPass_9384*@localhost:5432/ae_db

# Admin API
ADMIN_API_KEY=KJH83jslf8SDF9sdf98FsdlfkjSDFLKJSD9832hfsdf923

# Email sending
EMAIL_FROM=no-reply@yourdomain.com
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USER=postmaster@yourdomain.com
SMTP_PASS=<replace_with_secure_password>
